.h5p-find-the-words {
  max-width: 68.25em;
  margin:0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.h5p-find-the-words .h5p-play-area {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h5p-task-description {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.125em;
  padding: 8px;
  border-bottom: 1px solid #eeeeee;
}

.h5p-find-the-words .game-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.h5p-find-the-words .game-container.column-view {
  flex-direction: column;
  flex-flow: column-reverse;
}

.h5p-find-the-words .canvas-element {
  position: absolute;
  top: 0;
  left: 0;
}

.h5p-find-the-words .game-container.column-view .puzzle-container {
  margin: auto;
}

.h5p-find-the-words .puzzle-container {
  position: relative;
}

.h5p-find-the-words .vocabulary-container {
  background-color: #eeeeee;
  text-align: left;
}

.h5p-find-the-words .vocabulary-container .vocHeading {
  color: black;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  width: auto !important;
  overflow-y: auto;
}

.h5p-find-the-words .vocabulary-container ul {
  padding-left:8px;
}

.h5p-find-the-words .vocabulary-container li {
  text-align: left;
  margin: 4px;
  list-style: none;
}

.h5p-find-the-words .vocabulary-container li em {
  visibility: hidden;
}

.h5p-find-the-words .game-container.column-view .vocabulary-container ul {
  margin-top: 0;
  margin-bottom: 0;
}

.h5p-find-the-words .game-container.column-view .vocabulary-container li {
  display:inline-block;
  margin: 0;
}

.h5p-find-the-words .vocabulary-container .word-found {
  color: green;
}

.h5p-find-the-words .vocabulary-container .word-found em {
  color: green;
  visibility: visible;
}

.h5p-find-the-words .vocabulary-container .word-solved {
  color: #0067de;
}

.h5p-find-the-words .vocabulary-inline-container .word-solved em {
  color: #0067de;
  visibility: visible;
}

.h5p-find-the-words .vocabulary-container .word {
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
}

.h5p-find-the-words .vocabulary-container li i {
  visibility: hidden;
}

.h5p-find-the-words .footer-container {
  border-top: 1px solid #eeeeee;
  position: relative;
  padding: 8px;
}

.h5p-find-the-words .feedback-container {
  clear: both;
  display: none;
  padding-top: 1em;
}

.h5p-find-the-words .feedback-show {
  display: block;
}

.h5p-find-the-words .feedback-show .feedback-element {
  margin: 0.5em;
}

.h5p-find-the-words .button-container {
  clear: both;
  padding-top: 1em;
}

.h5p-find-the-words button .fa {
  /* Add some marging between FA icon and button text */
  margin-right: 0.5em;
}

.h5p-find-the-words .time-status {
  display: inline-block;
  float: left;
}

.h5p-find-the-words .counter-status {
  display: inline-block;
  float: right;
}

.h5p-find-the-words .feedback-text {
  display: block;
  margin-bottom: 0.8em;
  font-weight: bold;
  color: rgb(26, 115, 217);
  position: relative;
}

.h5p-find-the-words .h5p-found,
.h5p-find-the-words .h5p-counter,
.h5p-find-the-words .h5p-time-spent {
  font-weight: bold;
  margin-left: 4px;
}

.h5p-find-the-words .time-status span {
  margin-right: 4px;
}

.h5p-find-the-words  em::before {
  margin-right: 8px;
}

.h5p-find-the-words .dom-canvas-grid {
  font-family: 'Roboto', sans-serif;
}

.h5p-find-the-words .dom-canvas-grid .dom-canvas-grid-cell {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h5p-find-the-words .dom-canvas-drawing-container,
.h5p-find-the-words .dom-canvas-output-container {
  left: 0;
  position: absolute;
  top: 0;
}

.h5p-find-the-words .dom-drawing-marker {
  stroke: rgb(107, 177, 125);
  stroke-linecap: round;
  stroke-opacity: 0.4;
}

.h5p-find-the-words .marker-answer {
  stroke: rgba(107,177,125);
  stroke-opacity: 0.9;
  stroke-width: 2;
  fill: rgb(107,177,125);
  fill-opacity: 0.3;
}

.h5p-find-the-words .marker-solution {
  stroke: rgba(51,102,255);
  stroke-dasharray: 8 4;
  stroke-opacity: 0.9;
  stroke-width: 2;
  fill: rgb(51, 102, 255);
  fill-opacity: 0.1;
}
