wp-config.php
*.phpproj
*.phpproj.user
*.sln
.DS_Store
.vs
*.orig
*.map
.tmp
*.config
*.sublime-project
*.sublime-workspace
node_modules
tools/node_modules
tools/package-lock.json
.htaccess
.editorconfig
.idea
/nbproject/private/
src/wp-config.php
src/wp-content/uploads/*
!src/wp-content/uploads/h5p
src/wp-content/uploads/h5p/*
!src/wp-content/uploads/h5p/libraries
